@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

:root {
    --background: rgb(79, 6, 6);
    --foreground: rgb(255, 255, 255);
    --background-variant: #6f6f6f86;
}

@font-face {
    font-family: Yellowtail;
    src: url(../fonts/Yellowtail-Regular.ttf);
}

/* Fix broken blur effects on Safari */
* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

/* ----------- BODY -------------- */

body {
    background-image: url("../img/ipad-pro-stock-2020-apple-hd-2732x2732-765.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--foreground);
    font-family: "Roboto", sans-serif;
    background-color: black;
}

/* -------------- NAV --------------- */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 50rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    background-color: #36363674;
    color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-blend-mode: overlay;
}

.nav-logo {
    border-radius: 50%;
    background-color: #00000056;
    transition: 0.3s;
}

#nav-container {
    display: flex;
    justify-content: right;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: flex;
    height: 90%;
    justify-items: center;
    margin-right: 0.1rem;
    margin-left: 0.3rem;
    transition: 0.3s;
}

nav li a {
    display: flex;
    border-radius: 100rem;
    width: 4.5rem;
    color: var(--foreground);
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: none;
    transition: 0.2s;
}

.active {
    background: #00000073;
}

li a:hover,
.nav-logo:hover {
    background: #00000028;
    transition: 0.3s;
}

.hide {
    width: 2.55rem;
}

.hide #nav-container {
    display: none;
}

.menuAlt {
    background: #9a9a9a2f;
    transition: 0.3s;
}

@media only screen and (max-width: 600px) {
    nav li a {
        width: 4rem;
    }
}

/* ------------- HERO PAGE ---------- */

h1 {
    margin-bottom: 0.1rem;
}

h1 a {
    padding: 10px;
    font-family: Yellowtail, sans-serif;
    color: var(--foreground);
    font-size: 5rem;
    margin: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-logo {
    width: 50%;
    max-width: 25rem;
    height: fit-content;
    position: relative;
    display: flex;
    margin-right: 1rem;
}

.hero-logo-image {
    min-height: 23rem;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: grey;
    transition: all 1s ease-in-out;
    animation: morph 8s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes morph {
    0% {
        border-radius: 55% 40% 45% 40%;
    }

    25% {
        border-radius: 50% 55% 45% 55%;
    }

    50% {
        border-radius: 45% 55% 40% 50%;
    }

    75% {
        border-radius: 55% 45% 55% 45%;
    }

    100% {
        border-radius: 55% 40% 45% 40%;
    }
}

.hero-logo-icon {
    width: 30%;
    border-radius: 50%;
    background-color: #0000003f;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    bottom: 0;
    right: 0;
    position: absolute;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    max-width: 25rem;
}

@media only screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .hero-profile,
    .hero-text {
        width: auto;
        margin-bottom: 0;
    }
}
