@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

:root {
    --background: rgb(79, 6, 6);
    --foreground: rgb(255, 255, 255);
    --background-variant: #6f6f6f86;
}

@font-face {
    font-family: Yellowtail;
    src: url(../fonts/Yellowtail-Regular.ttf);
}

article {
    height: 100vh;
    width: 100vw;
}

/* ----------- BODY -------------- */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--foreground);
    font-family: "Roboto", sans-serif;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

/* -------------- NAV --------------- */
nav {
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 50rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    background-color: #36363674;
    color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-blend-mode: overlay;
    z-index: 99;
}

.nav-close {
    animation: navClose 0.2s ease-in;
}

@keyframes navClose {
    from {
        width: 50%;
    }
    to {
        width: 2.55rem;
    }
}

.nav-open {
    animation: navOpen 0.2s ease-in;
}

@keyframes navOpen {
    from {
        width: 2.55rem;
    }
    to {
        width: 50%;
    }
}

.nav-logo {
    border-radius: 50%;
    background-color: #00000056;
    transition: 0.3s;
}

#nav-container {
    display: flex;
    justify-content: right;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: flex;
    height: 90%;
    justify-items: center;
    margin-right: 0.1rem;
    margin-left: 0.3rem;
    transition: 0.3s;
}

nav li a {
    display: flex;
    border-radius: 100rem;
    width: 3rem;
    color: var(--foreground);
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: none;
    transition: 0.2s;
}

nav li a img {
    filter: invert(96%) sepia(100%) saturate(15%) hue-rotate(126deg)
        brightness(108%) contrast(100%);
}

.active {
    background: #00000073;
}

li a:hover,
.nav-logo:hover {
    background: #00000028;
    transition: 0.3s;
}

.hide {
    width: 2.55rem;
}

.hide #nav-container {
    display: none;
}

.menuAlt {
    background: #9a9a9a2f;
    transition: 0.3s;
}

@media only screen and (max-width: 820px) {
    nav {
        width: 90%;
        bottom: 0;
    }
}

/* ------------- HERO PAGE ---------- */

h1,
h2 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: #ffffffbc;
}

h1 a {
    padding: 10px;
    font-family: Yellowtail, sans-serif;
    color: var(--foreground);
    font-size: 5rem;
    margin: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.hero {
    background: url(../img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.hero-logo {
    max-width: 25rem;
    height: fit-content;
    position: relative;
    display: flex;
    margin-right: 1rem;
    width: 80%;
}

.hero-logo-image {
    min-height: 23rem;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    background-image: url(../img/wp6048908-sunset-minimal-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
    animation: morph 8s ease-in-out infinite;
    border-radius: 50%;
}

@keyframes morph {
    0% {
        border-radius: 55% 40% 45% 40%;
    }

    25% {
        border-radius: 50% 55% 45% 55%;
    }

    50% {
        border-radius: 45% 55% 40% 50%;
    }

    75% {
        border-radius: 55% 45% 55% 45%;
    }

    100% {
        border-radius: 55% 40% 45% 40%;
    }
}

.hero-logo-icon {
    width: 30%;
    border-radius: 50%;
    background-color: #0000003f;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    bottom: 0;
    right: 0;
    position: absolute;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    max-width: 25rem;
}

/* Phone size */
@media only screen and (max-width: 820px) {
    .hero {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-profile,
    .hero-text {
        width: auto;
        margin-bottom: 0;
    }

    h1 a {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 5vh;
    }
}

/* TV size */
@media only screen and (min-width: 1250px) {
    .hero {
        justify-content: center;
    }
    .hero-text {
        margin-right: 12rem;
    }
}

/* -------------- Skills --------------- */

#skills {
    background: url(../img/wp6048908-sunset-minimal-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills-info h3 {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.5rem;
}

.skills-info {
    background-color: #ffffff54;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 1rem;
    width: 10rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 140%;
    padding: 1rem 0;
    -webkit-box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
}

.skills-info ul {
    margin: 0;
    padding: 0;
}

.skills-info li {
    list-style: none;
    width: 100%;
    text-align: center;
}

/* -------------- Certs --------------- */

#certs {
    background: url(../img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certs-item {
    width: 40%;
    height: 40%;
    background-color: #ffffff54;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px -24px rgba(0, 0, 0, 0.75);
}

.certs-item:hover {
    transform: scale(102%);
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.75);
}

.certs-item img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    object-fit: cover;
}

@media only screen and (max-width: 750px) {
    #certs {
        flex-direction: column;
    }
    .certs-item {
        width: 80%;
        height: 35%;
    }
}

/* -------------- Projects --------------- */

#projects {
    background: #ffea49;
}

/* -------------- Contacts --------------- */

#contact {
    background: #eaff70;
}
